SetEnv IsDevelopment true
SetEnv dbUsername root
SetEnv dbPassword 

Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /build/%{REQUEST_FILENAME} [QSA,L]