SetEnv connectionString mysql:host=localhost;dbname=test
SetEnv dbUsername root
SetEnv dbPassword 

Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ ./build/index.html [QSA,L]