.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 6s linear;
  }
}

div#root {
  min-width: calc(100vw - 1em);
  min-height: 50vh;
}
.rootGrid {
  display: grid;
  position: relative;

  padding-top: 10px;
  background-color: rgb(200, 200, 200);
  min-height: 50vh;
  grid: "side body" / 1fr 6fr;
  width: 100%;
}

.rootGrid > div {
  grid-area: body;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
